input,
body {
    background-color: #202124;
    color: lightgray;
    font-size: 2rem;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
}

#text {
    margin-bottom: 1rem;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#header {
    margin-bottom: 1rem;
    align-self: start;
    position: relative;
    font-size: medium;
    opacity: 0;
}

#footer {
    margin-top: 1rem;
    align-self: start;
    position: relative;
    font-size: medium;
    opacity: 0;
}

.complete {
    color: gray;
}

.wrong {
    color: #df0505;
}

.error {
    color: #df0505;
}

.mistake {
    text-decoration: line-through;
}

.current {
    text-decoration: underline;
}

.word {
    margin-right: 8px;
    display: inline-block;
    position: relative;
}

.hidden {
    display: none;
}
